* {
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
    font-family: "Poppins", sans-serif;
    background: var(--bg-color);
}

:root {
    --secondary-font: "Sora", sans-serif;
    --primary-color: #ff5b2e;
    --light-primary-color: #ffefe7;
    --secondary-color: #000958;
    --light-secondary-color: #48496a;
    --bg-color: #fffaf5;
    --bg-medium-color: #fff6ed;
    --orange-color: #fc8e67;
    --text-color: #656689;
    --text-medium-color: #3f4065;
    --light-blue-color: #5e6085;
    --yellow-color: #fec23f;
    --blue-color: #80c2fa;
    --blue-lighter-color: #181e52;
    --blue-light-color: #5e6085;
    --gray-color: #ebebf2;
    --light-gray-color: #f2f2f2;
    --pinky-color: #fbd0de;
    --teal-color: #5bd6e2;
    --light-teal-color: #c6f4f9;
}

/* Common */

.wrapper {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.tacenter {
    text-align: center;
}

.mrcenter {
    margin-right: auto;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}

.section-heading {
    font-family: var(--secondary-font);
    color: var(--secondary-color);
}

.section-heading.lv1 {
    font-weight: 800;
    font-size: 6.6rem;
    line-height: 1.15;
}

.section-heading.lv2 {
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1.19;
}

.section-heading.lv3 {
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
}

.section-subHeading {
    margin-bottom: 9px;
    font-family: var(--secondary-color);
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1;
    color: var(--blue-light-color);
}

.section-desc {
    margin-top: 24px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: var(--text-color);
}

.btn {
    display: inline-block;
    min-width: 118px;
    padding: 0 16px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 56px;
    text-align: center;
    text-decoration: none;
    color: var(--secondary-color);
    border-radius: 999px;
    background: transparent;
}

.btn:hover {
    opacity: 0.8;
}

.btn--outline {
    min-width: 117px;
    border: 1px solid var(--secondary-color);
    line-height: 50px;
}

.btn--primary {
    background: var(--primary-color);
    color: white;
    border-radius: 31px;
}

.btn--rounded {
    font-weight: 500;
    min-width: 214px;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    transition: 0.25s;
}

.btn--rounded:hover {
    color: white;
    background: var(--primary-color);
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.line-clamp.line-3 {
    --line-clamp: 3;
}

.word-break-all {
    word-break: break-all;
}

.control {
    display: flex;
    column-gap: 18px;
}

.control__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #575f66;
    outline: none;
    color: #575f66;
    background: #fff;
    transition: 0.25s;
}

.control__btn:hover {
    color: #fff;
    border-color: var(--primary-color);
    cursor: pointer;
}

.control__pagination--next {
    rotate: 180deg;
}
